*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.belleza-regular {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{background-color: black;}
nav{
  text-align: center;
  font-size: 1.3rem;
  position: fixed;
  width: 80%;
  padding-top: 2%;
  padding-bottom: 1%;
  border-bottom: #D9DFD7 solid;
  z-index: 99;
  margin: 0 10%;
}
nav a:hover{color: #6CA659;}
h1,h2{
  color: #6CA659;
  font-size: 3.6rem;
  padding-top: 20%;
  letter-spacing: 5px;}
h2{
  padding: 3%;
text-align: center;}
h3{
  font-size:1.4rem;
  letter-spacing:2px;
}
nav li{display: inline; margin:2%}
nav a{text-decoration: none; color: white;}

#header-home{
  background-image: url('img/header-home.jpeg');
  width: 100%;
  height: 88vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#header-aboutUs{
  background-image: url('img/header-aboutUs.jpeg');
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#div-aboutUs{
  display: flex;
}
#div-aboutUs p{
  padding: 2%;

}
#div-aboutUs img{
  padding: 2%;
}
#div-world-map{
  position: relative;
  width: 100%;
  min-width: 100px;
  padding: 1em;

}
#div-world-map img{
  margin-top: 5%;
  width: 100%;
  height: 80vh;
  object-fit: contain;
}
.pin{
  background-color:#4362f8;
  position: absolute;
}
.pin::before {
  content: "📌"; /* Unicode for a pin emoji */
  position: absolute;
  top: 50%;
  left: 50%;
  animation: pulse 1.3s ease-in-out infinite   ;
}
.pin span{
  display: inline-block;
  position: absolute;
  left: 1.5em;
  top: 50%;
  background-color:#6C9EBC;
  border-radius: 3em;
  margin: 50%;
  cursor: pointer;
  font-size: 1.3em;
}
.pin span:hover{
  opacity: 0.9;
}
.pin span:active{
  opacity: 0.6;
}
.asia{
  top: 60%;
  right: 30%;
}
.africa{
  top: 70%;
  right: 48%;
}
.north-america{
  top: 45%;
  right: 70%;
}
.south-america{
  top: 70%;
  right: 65%;
}
.europe{
  top: 45%;
  right: 45%;
}
.australia{
  top: 80%;
  right: 25%;

}
.div-popularTours-container{
  position:relative;
  width: 95vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider{
  position: absolute;
  inset: 0 7% 5% 7%;
  background: #ccc;
  border-radius: 30%;
}
.slider .slides{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 240px;
  height: 320px;
  background:var(--img);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}
.slider .slides:nth-child(1),
.slider .slides:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
  background-size: cover; 
}
.slider .slides:nth-child(3){
  left: calc(50% + 240px);
  background-size: cover;
}
.slider .slides:nth-child(4){
  left: calc(50% + 500px);
  background-size: cover;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 2%; /* Adjust the gap between buttons */
}
.buttons span{
  width: 80px;
  height: 80px;
  background-color:rgb(131, 132, 94);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} 
.buttons span:hover{
  opacity: 0.9;
}
.buttons span:active{
  opacity: 0.6;
}
#about-section{
  display: flex;
  justify-content: space-around;
}
#about-section div{
  flex: 1;
  margin: 0;
}
#filter{
  display: flex;
  margin: 0 10%;
  justify-content: space-around;
  color: #000;
}
button{
  color: #000;
}

iframe{
  display: flex;
  justify-content: center;
  margin: 3%;
 
}
#tour-main{
  display: flex;
  flex-wrap: wrap;
  
}
#tour-main > .tour{
  margin: 2%;
  height: 400;
  width: 420;
}
.tour-body {
  height: 200px; /* Adjust this to your desired fixed height */
  overflow: auto; /* Add scrollbar if content exceeds height */
}

footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer div{
  flex: 1;
}
footer svg{color: white;}
