/* CSS used in general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body{background-color : #1a1a1a;}
h1,h2{
  color: #6CA659;
  font-size: 3.6rem;
  padding-top: 20%;
  letter-spacing: 5px;}
h2{
  padding: 3%;
text-align: center;}
h3{
  font-size:1.4rem;
  letter-spacing:2px;
}
#navbar{
  text-align: center;
  font-size: 1.3rem;
  position: fixed;
  width: 80%;
  padding-top: 2%;
  padding-bottom: 1%;
  border-bottom: #D9DFD7 solid;
  z-index: 99;
  margin: 0 10%;
}
nav a:hover{color: #6CA659;}
.navBar-links{
  background-color: #272424;
}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
nav li{display: inline; margin:2%}
nav a{text-decoration: none; color: white;}
footer svg,
footer p
{
  display: inline;
}
footer *{
  margin: 1%;
}
footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: #6CA659 solid;
}
footer div{
  flex: 1;
}
footer svg{color: white;}

.div-style{
  background-color: #111; /* Dark background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Dark shadow */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Thin border */
}
.belleza-regular {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* -------------------------------CSS used in the home Page -----------------------------------------*/
#header-home{
  background-image: url('img/header-home.jpeg');
  width: 100%;
  height: 88vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.div-popularTours-container{
  position:relative;
  width: 95vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.slider{
  position: absolute;
  inset: 5% 7% 5% 12%;
  background: #ccc;
  border-radius: 30%;
  
}
.slider .slides{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 240px;
  height: 320px;
  background:var(--img);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.slider .slides:nth-child(1),
.slider .slides:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
  background-size: cover; 
}
.slider .slides:nth-child(3){
  left: calc(50% + 240px);
  background-size: cover;
}
.slider .slides:nth-child(4){
  left: calc(50% + 500px);
  background-size: cover;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 2%; 
}
.buttons span{
  width: 80px;
  height: 80px;
  background-color:rgb(131, 132, 94);
  opacity: 0.7;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
} 
.buttons span:hover{
  opacity: 0.9;
}
.buttons span:active{
  opacity: 0.6;
}
.content{
  position: relative;
  padding: 3%;
  max-width: 80%;
  transition: 0.25s;
  transition-delay: 0s;
  transform: translateY(40px);
  z-index: 9999;
  opacity: 0;
}
.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content{
  opacity: 1;
  transition-delay: 0.4s;
  transform: translateY(0px);
}
#home-blog{
  display: flex;
  margin: 3%;
}
.home-post{
  display: flex;
  margin-right: 3%;
  padding: 2%;
}
iframe{
  display: flex;
  justify-content: center;
  margin: 3%;
}
#div-video{
  display: flex;
  justify-content: center;
}
/*---------------------------CSS used in the About us Page---------------------------------*/
#header-aboutUs{
  background-image: url('img/header-blogs.png');
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#div-aboutUs{
  display: flex;
}
#div-aboutUs p{
  padding: 2%;

}
#div-aboutUs img{
  padding: 2%;
}
#about-container{
  display: flex;
}
#about-container div{
  flex: 1;
  margin: 0;
  text-align: center;
}
.post{
  display: grid;
  grid-template-columns: 10% 60% 20%;
  background-color: #272424;
  margin-bottom: 3%;
}
.post div{
  padding: 2%;

}
#gallery{
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

#gallery-1{grid-row: 1/ 2;grid-column: 1 /2;}
#gallery-2{grid-row: 1/ 3;grid-column: 2/3;}
#gallery-3{grid-row: 1/ 2;grid-column: 3/5;}
#gallery-4{grid-row: 2/ 3;grid-column: 1/2;}
#gallery-5{grid-row: 2/ 3;grid-column: 3/4;}
#gallery-6{grid-row: 2/ 3;grid-column: 4/5;}
/*----------------------CSS used in the tour Page--------------------------*/
#div-world-map{
  position: relative;
  width: 100%;
  min-width: 100px;
  padding: 1em;

}
#div-world-map img{
  margin-top: 5%;
  width: 100%;
  height: 80vh;
  object-fit: contain;
}
.pin{
  background-color:#4362f8;
  position: absolute;
}
.pin::before {
  content: "📌"; 
  position: absolute;
  top: 50%;
  left: 50%;
  animation: pulse 1.3s ease-in-out infinite   ;
}
.pin span{
  display: inline-block;
  position: absolute;
  left: 1.5em;
  top: 50%;
  background-color:#6C9EBC;
  border-radius: 3em;
  margin: 50%;
  cursor: pointer;
  font-size: 1.3em;
}
.pin span:hover{
  opacity: 0.9;
}
.pin span:active{
  opacity: 0.6;
}
.asia{
  top: 60%;
  right: 30%;
}
.africa{
  top: 70%;
  right: 48%;
}
.north-america{
  top: 45%;
  right: 70%;
}
.south-america{
  top: 70%;
  right: 65%;
}
.europe{
  top: 45%;
  right: 45%;
}
.australia{
  top: 80%;
  right: 25%;
}
#filter{
  display: flex;
  margin: 0 10%;
  justify-content: space-around;
  color: #000;
}
#tour-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
#tour-main > .tour{
  margin: 2%;
  height: 400;
  width: 420;
  padding: 2%;
}
.tour p{
  overflow: auto;
}
.tour-body {
  height: 200px; /* Adjust this to your desired fixed height */
  overflow: auto; /* Add scrollbar if content exceeds height */
}
.details {
  display: none; /* Hide details by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


/*-----------------------------CSS used  in the blog Page-------------------------*/
#header-blogs{
  background-image: url('img/header-blogs.png');
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}
#blog-title{
  display: grid;
  grid-template-columns: 90% 10%;
}
/*------------------------CSS used in the book page-------------------------------*/
#header-book{
  background-image: url('img/header-blogs.png');
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;

}


/*------------------------------------Responsive --------------------------------------*/

/*-----------------------max width 900px----------------------------*/
@media (max-width:900px)
{
  /*-----HOME------*/
  .slider{
    position: absolute;
     inset: 5% 7% 5% 5%;
  }
  /*-------BLOG-----*/
  .blog-right{
    display: none;
  }
  .postPicture{
    display: none;
  }
  /*----TOUR-----*/
  #div-world-map{
    display: none;
  }
}

/*-----------------------max width 600px----------------------------*/
@media (max-width:600px)
{
  /*---------NAV----------*/
  .toggle-button{
    display: flex;
  }
  .navbar-links{
    display: none;
    width: 100%;
    background-color: #272424; 
  }
  .navbar-links ul{
    display: flex;
    flex-direction: column;
    width: 100%;  
  }
  #navbar{
    display: flex;
    flex-direction: column;
    border-bottom:none;
    width: 100%;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 0;
  }
  .navbar-links.active{
    display: flex;
  }
  .navbar-links li:hover {
    opacity: 0.7;
  }
  
 
}
